.MainLogo_main {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 0.5vw;
}


.logo_text {
   font-size: 1.7vw;
   font-weight: bold;
}

.UserItem_main {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 1vw;
   background-color: #674fa3;
   border-radius: 1vw;
   padding-left: 1vw;
   min-width: 17vw;
   max-width: 80%;
}

.sidebaritem_text {
   font-size: 1vw;
}

.white {
   color: white;
}

.SideBarItem_main {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 1vw;
   background-color: #ebddff;
   border-radius: 1vw;
   min-width: 17vw;
   max-width: 80%;
   padding-left: 1vw;
   /* padding-top: 1vh;
   padding-bottom: 1vh; */
}